<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<% if(messages.danger){%>
    <div class="alert alert-danger alert-dismissible text-center">
        <%= messages.danger%>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
    <%}%>

<div class="container col-4">
    <div class="card mt-4">
        <div class="card-header">
            <h2>Login de Administrador</h2>
        </div>
        <div class="card-body m-auto">
            <p class="text-danger">Você precisa estar logado para acessar os recursos do painel</p>
            <form action="/authenticate" method="post">
                <label for="">Email:</label>
                <input type="email" class="form-control" name="email" required placeholder="email@example.com">
                <label for="">Senha:</label>
                <input type="password" class="form-control" name="password" placeholder="Insira sua senha" required><br>
                <button class="btn btn-success btn-block" type="submit">Entrar</button>
            </form>
            <hr>
            <h6>Não possui conta? <a href="/cadastro">Cadastre-se!</a></h6>
        </div>
    </div>
</div>



<%- include ('partials/footer.ejs')%>